@import "tailwindcss";

@theme {
  --font-sans: "Outfit";

  --color-surface-a: var(--surface-a);
  --color-surface-b: var(--surface-b);
  --color-surface-c: var(--surface-c);
  --color-surface-d: var(--surface-d);
  --color-surface-e: var(--surface-e);
  --color-surface-f: var(--surface-f);
  --color-text-color: var(--text-color);
  --color-text-color-secondary: var(--text-color-secondary);
  --color-primary-color: var(--primary-color);
  --color-primary-color-text: var(--primary-color-text);
  --color-surface-0: var(--surface-0);
  --color-surface-50: var(--surface-50);
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-300: var(--surface-300);
  --color-surface-400: var(--surface-400);
  --color-surface-500: var(--surface-500);
  --color-surface-600: var(--surface-600);
  --color-surface-700: var(--surface-700);
  --color-surface-800: var(--surface-800);
  --color-surface-900: var(--surface-900);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-surface-ground: var(--surface-ground);
  --color-surface-section: var(--surface-section);
  --color-surface-card: var(--surface-card);
  --color-surface-overlay: var(--surface-overlay);
  --color-surface-border: var(--surface-border);
  --color-surface-hover: var(--surface-hover);
  --color-maskbg: var(--maskbg);
  --color-highlight-bg: var(--highlight-bg);
  --color-highlight-text-color: var(--highlight-text-color);
}

@import "primereact/resources/themes/lara-dark-purple/theme.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-display: swap;
    src: local('Outfit'), url('/fonts/Outfit.ttf') format('truetype');
}


:root {
  font-family: var(--font-sans);
  --font-family: var(--font-sans);
  --focus-ring: 0 0 0 0.2rem rgba(167, 139, 250, 0.2);
}

html, body {
  color: var(--text-color);
  background-color: var(--color-surface-b);
}
